<div>
  <div class="table-container">
    <div class="input-search-table">
      <input
        type="text"
        class="custom-filter-input"
        style="padding: 10px"
        placeholder="Filtrar produtos..."
        [(ngModel)]="filterText"
      />
      <button class="button-search-table" (click)="onAdd()">
        Cadastrar Produto
      </button>
    </div>

    <table class="custom-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Estoque</th>
          <th>Unidade</th>
          <th>Preço</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredListItens">
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.quantityStock }}</td>
          <td>{{ item.unityOfMeasurement }}</td>
          <td>{{ item.price | currency : "BRL" }}</td>
          <td>{{ item.categoryName }}</td>
          <td>
            <button
              class="action-btn edit-btn"
              (click)="onEdit(item)"
              title="Editar"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="action-btn delete-btn"
              (click)="onDelete(item)"
              title="Excluir"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
